__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
deta/
models/
OpenVoice/
*.wav
*.mp3
*.zip
ksmevn/
*.pt
*.bin
*.gguf
*.safetensors
*.onnx
*.tar
*.tar.gz
*.7z
*.h5
*.ckpt
*.pb
*.npy
*.npz
*.pkl
*.joblib
*.lfs
*.cache/
*.log
